<html>
    <head>
        

        <link rel="stylesheet" href="../assets/css/keys.css">
        
        <link rel="stylesheet" href="../assets/css/overlay.css">
        <link rel="stylesheet" href="../assets/css/books.css">
        <link rel="stylesheet" href="../assets/css/sidebar.css">
        <link rel="stylesheet" href="../assets/css/benefits.css">
        
        <link rel="stylesheet" href="../assets/css/textSelector.css">
        <link rel="stylesheet" href="../assets/css/profile.css">

        <link rel="stylesheet" href="../assets/css/tabs/books.css">
        <link rel="stylesheet" href="../assets/css/tabs/generale.css">
        <link rel="stylesheet" href="../assets/css/tabs/courses.css">
        <link rel="stylesheet" href="../assets/css/tabs/pie.css">
        <link rel="stylesheet" href="../assets/css/tabs/piebackground.css">

        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 


        <%- include ("partials/header") %>

        
    </head>

    <body id="body">

        <script>
            let loggedIn = <%- data.loggedIn %>
        </script>

        <%- include ("partials/blackBox") %>
        <%- include ("partials/login") %>
        <%- include ("partials/register") %>
        <%- include ("partials/profile") %>
        <%- include ("partials/overlayGeneral") %>
        <%- include ("partials/settings") %>
        <%- include ("partials/mobileBlocker") %>

        
        <%- include ("partials/sidebar") %>

        <div id="contentWrapper">

            <div id="contentWrapperCenter">
                <div class="logo"></div>
                <!-- <img class="logo" src="/assets/img/logo.png"> -->
    
                <!-- <div class="spacer"></div> -->
                <div class="mainBox">
                    <div class="stats">
                        <p>Speed:</p>
                        <p id="speed">0 wpm</p>
                
                        <p>Accurarcy:</p>
                        <p id="accuarcy">0 %</p>
                    </div>
        
                    <p class="message" id="message">You did the complete book!</p>
                    <div id="wordsBox">
                        <!-- <div class="key">T</div>
                        <div class="key">h</div> -->
                    </div>
                </div>
    
                

                <div class="homeBox" id="homeCurrent"> 

                    <img class="cover" src="/assets/img/bookcover/produktManagementNew.png">
                    <div>
                        <p class="title">The Product Book</p>
                        <p class="author">Product School</p>
                    </div>

                    <div class="piebackground home" style="--p:100"> 32 %</div>

                    <div class="pie home" style="--p:32"> </div>    
                </div>
            </div>

            

            
        </div>
        

        <!-- <div class="buttonBox">
            <% if (data.loggedIn) { %>
                <button class="button one" onclick="openProfile()">Profil</button>
                <button class="button two" onclick="openSettings()">Settings</button>
                <button class="button three" onclick="window.location = '/logout'">Logout</button>
            <% } else { %> 
            <button class="button one" onclick="openLogin()">Login</button>
            <button class="button two" onclick="openRegister()">Register</button>
            <% } %> 
        </div> -->
        <!-- <div class="adWrapperRight"></div> -->

        <%- include ("partials/footer") %>
        

        
        
        
        

        

        <script src="../assets/js/keyInput.js"></script>
        <script src="../assets/js/getNewText.js"></script>
        <script src="../assets/js/printText.js"></script>
        <script src="../assets/js/calculate.js"></script>
        <script src="../assets/js/requests.js"></script>
        <script src="../assets/js/textSelector.js"></script>
        <script src="../assets/js/sidebarOpen.js"></script>
        <script src="../assets/js/getCurrent.js"></script>

        <script src="../assets/js/main.js"></script>

        <script src="../assets/js/overlay.js"></script>
        <script src="../assets/js/benefitFunctions.js"></script>


    </body>

</html>

